@import '~reset';
@import '~mixins';
@import '~colors';
@import '~fonts';

/**
 * Main
 */
 html,
 body {
   width: 100%;
   height: 100%;
 }

 body {
   color: $color_neutral_800;
   font-family: $nunito;
   background: $color_neutral_50;
 }

 h1, h2, h3,
 h4, h5, h6 {
   font-family: $nunito;
   text-align: center;
   font-weight: normal;
   padding: 0;
   margin: 0;
 }

  /**
   * btn
   */
  .btn {
    cursor: pointer;
    outline: 0;
    font-family: $nunito;
    padding: toRem(3.2) 1% 0 1%;
    border: toRem(1) solid $color_neutral_800;
    background: none;
  }
